@use '../base/variables.scss' as *;
.about {
    padding-top: 50px;
    &__title {
        margin-top: 60px;
    }
    &__content {
        margin-top: 60px;
    }
    &__img {
        margin: 0 auto;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__text {
        margin-top: 35px;
        p {
            font-weight: 400;
            font-size: 16px;
            color: $dark;
            margin-top: 20px;
        }
        p:nth-child(1) {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__img {
            max-width: 600px;
        }
        &__text {
            margin-top: 35px;

            p {
                font-weight: 400;
                font-size: 16px;
                color: $dark;
                margin-top: 30px;
            }
        }
    }
}

@media screen and (min-width: 1200px) { 
    .about {
        &__content {
            display: flex;
            gap: 20px;
            align-items: flex-start;
        }
        &__img {
            max-width: 550px;
        }
        &__text {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1200px) { 
    .about {
        padding-top: 40px;
        &__title {
            margin-top: 100px;
        }
        &__content {
            margin-top: 100px;
        }
        &__img {
            max-width: 700px;
        }
        &__text {
            p {
                font-size: 20px;
                color: $dark;
                margin-top: 30px;
            }
        }
    }
}